@{
    @model IEnumerable<BdDataApi.EntityModels.healthmap_AlertArticles>
    ViewBag.Title = "Surveillance";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Surveillance</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>ArticleId</th>
            <th>Title</th>
            <th>Description</th>
            <th>PublicationDate</th>
            <th>SourceUrl</th>
            <th>Author</th>
            <th>BdLocationTypeId</th>
            <th>BdCtryTeryId</th>
            <th>BdProvinceId</th>
            <th>LocationTypeId</th>
            <th>LocationName</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Point</th>
            <th>SourceTypeId</th>
            <th>LastUpdateTime</th>
        </tr>
        @foreach (BdDataApi.EntityModels.healthmap_AlertArticles article in Model)
        {
            <tr>
                <td>@article.ArticleId</td>
                <td>@article.Title</td>
                <td>@article.Description</td>
                <td>@article.PublicationDate</td>
                <td>@article.SourceUrl</td>
                <td>@article.Author</td>
                <td>@article.BdLocationTypeId</td>
                <td>@article.BdCtryTeryId</td>
                <td>@article.BdProvinceId</td>
                <td>@article.LocationTypeId</td>
                <td>@article.LocationName</td>
                <td>@article.Lat</td>
                <td>@article.Long</td>
                <td>@article.Point</td>
                <td>@article.SourceTypeId</td>
                <td>@article.LastUpdateTime</td>
            </tr>}
    </table>
</body>
</html>

