@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>@ViewBag.Title.</title>
</head>

<body class="bg-white">
    <div class="marketing-main-container d-flex flex-column-reverse flex-md-row">
        <div id="main-form" class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="pt-4 mx-auto col-md-9 message-margin">
                        <div class="row">
                            <div class="mx-auto d-none d-md-block">@Html.ActionLink("Have an account? Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "register-login-btn", @class = "btn-bd-link" })</div>
                        </div>
                        <div class="row">
                            <div class="mx-auto mt-5 d-none d-md-block">@Html.Partial("_Logo")</div>
                        </div>
                        <div class="row">
                            <span class="mx-auto mb-4 my-md-4 title-message">Retrieve Your Password</span>
                        </div>
                        <div class="landing-form">
                            <div class="mb-4 instruct-message">A link has been sent to your email with instructions on how to reset your password.</div>

                            <div class="form-row my-5">
                                @Html.ActionLink("Terms of service", "TermsOfService", "Home", null, new { @id = "terms-of-service-btn", @class = "btn-bd-text-grey", @style = "display:none" })
                                @Html.ActionLink("Privacy policy", "PrivacyPolicy", "Home", null, new { @id = "privacy-policy-btn", @class = "btn-bd-text-grey" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Marketing")
    </div>
</body>

