@model Biod.Zebra.Library.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>@ViewBag.Title.</title>
</head>

<body class="bg-white">
    <div class="marketing-main-container d-flex flex-column-reverse flex-md-row">
        <div id="main-form" class="col-md-4">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="pt-4 mx-auto col-md-9 message-margin">
                        <div class="row">
                            <div class="mx-auto d-none d-md-block">@Html.ActionLink("Have an account? Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "register-login-btn", @class = "btn-bd-link" })</div>
                        </div>
                        <div class="row">
                            <div class="mx-auto mt-5 d-none d-md-block">@Html.Partial("_Logo")</div>
                        </div>
                        <div class="row">
                            <span class="mx-auto mb-4 my-md-4 title-message">Retrieve Your Password</span>
                        </div>
                        <div class="landing-form">
                            <div class="mb-4 instruct-message">Type your email address below and we’ll send you a link to reset your password</div>

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="Email" class="embed-label">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control top-padding-input", @placeholder = "e.g. email@example.com" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <button class="btn btn-bd-primary submit-button w-100" type="submit">Retrieve Password</button>
                                </div>

                                <div class="form-row py-5">
                                    <div class="mb-4 position-absolute" style="bottom:0;">
                                        @Html.ActionLink("Terms of service", "TermsOfService", "Home", null, new { @id = "terms-of-service-btn", @class = "btn-bd-text-grey", @style = "display:none"  })
                                        @Html.ActionLink("Privacy policy", "PrivacyPolicy", "Home", null, new { @id = "privacy-policy-btn", @class = "btn-bd-text-grey"})
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Marketing")
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}