@model Biod.Zebra.Library.Models.ApplicationUser
@using System.Configuration;
@{
    ViewBag.Title = "User Details page - " + ConfigurationManager.AppSettings.Get("ZebraTitleAndVersion");
}

<style>
    .fill-parent {
        height: 100%;
        box-sizing: border-box;
    }

    #useradmin-details {
        padding: 60px 15px 15px;
    }

    #useradmin-details h4,
    #useradmin-details h2 {
        margin-bottom: 15px;
    }
</style>

<div id="useradmin-details" class="fill-parent admin-settings">
    <div>
        @Html.ActionLink("Back to List", "Index", new { area = "DashboardPage" })
    </div>
    <hr />
    <h2>User: @Html.DisplayFor(model => model.UserName) @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "k-button" })</h2>
    
    @if (Model.EmailConfirmed)
    {
        <button class="k-button k-state-disabled" disabled>Resend registration email</button>
        <span style="font-style: italic">Email already confirmed</span>
    }
    else
    {
        <button class="k-button" id="resend-registration-email">Resend registration email</button>
        <span id="message" style="font-weight: bold;">&nbsp;</span>
    }
    <br />
    <br />
    <h4>List of roles for this user</h4>
    @if (Model.Roles.Count == 0)
    {
        <p>This user has no roles!</p>
    }
    else
    {
        <ul>
            @foreach (var role in ViewBag.RoleNames)
            {
                <li>@role</li>
            }
        </ul>
    }
</div>

<script>
    window.UserAdmin = {
      Details: {
        userId: '@Model.Id'
      }
    };
</script>
<script src="~/Areas/DashboardPage/Content/scripts/user/details.js"></script>
