@model IEnumerable<Biod.Zebra.Library.EntityModels.Zebra.Event>
@using System.Configuration;
@{
    ViewBag.Title = "Events List - " + ConfigurationManager.AppSettings.Get("ZebraTitleAndVersion");
}

<h2>Index</h2>

<div style="overflow-y: scroll;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTitle)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventId })
                </td>
            </tr>
        }

    </table>
</div>