@model Biod.Zebra.Library.Models.ChangePasswordViewModel
@using System.Configuration;
@{
    ViewBag.Title = "Change Password page - " + ConfigurationManager.AppSettings.Get("ZebraTitleAndVersion");
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body class="user-settings">
    <div class="content-spacing">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h4 class="profile-header">Settings</h4>
                    <h1 id="profile-subheader">Change Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-3 col-lg-6">

                    @Html.Partial("_Navigation")

                    <div class="tab-content">
                        @using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post, new { @id = "change-password-form", @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="profile-change-password-container">
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="form-row">
                                    <div class="form-group col">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "New Password Confirmation" })
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-bd-primary profile-submit-button">Update Password</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <p class="text-success">@ViewBag.StatusMessage</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="offset-lg-1 col-lg-11">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(function () {
                $('#change-password-form').submit(function (e) {
                    kendo.ui.progress($('.user-settings'), true);
                });
            });
    </script>
}
