@model Biod.Zebra.Library.EntityModels.Zebra.UserLoginTran

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserLoginTran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginDateTime)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserLoginTransID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
