@* CSS Styling found in _eventlist.scss *@

<script>
    window.ImagePaths = {
      ExportGreyIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/export-grey-icon.svg")',
      ImportGreyIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/import-grey-icon.svg")',
      RiskHighIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/high.svg")',
      RiskMediumIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/medium.svg")',
      RiskLowIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/low.svg")',
      RiskNoneIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/none.svg")',
      LocalSpreadIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/local-spread.svg")',
      OutlookReportIcon: '@Url.Content("~/Areas/DashboardPage/Content/images/outlookicon.svg")',
    }
</script>

<div class="eventlist"></div>

<script src="~/Areas/DashboardPage/Content/scripts/dashboard/eventlistbydisease.js"></script>
